main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ACADE3;
}

header {
   color: #ACADE3;
   background-color: #454696;
   font-size: xx-large;
   text-align: center;
    padding: 1em;

}

figcaption {
    text-align: center;
    background-color: #454696;
    color: #ACADE3;
    padding: .3rem 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: x-large;
}

img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    height: auto;
    border: 4px solid #454696;
    
}