html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F2F2F2
}

ul {
    list-style: none;
    margin: 0;
}

#navbar {
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #BF834E;
}

#nav-list {
    display: flex;
}

#nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

#nav-list a:hover {
    background-color: #261602;
}

#welcome-section {
   background-color: #F2F2F2;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
}

#welcome-section h2 {
    margin-top: -2.5rem;
    font-size: 2rem;
}

h1 {
    color: black;
}

.projects-grid {
    background-color: #71A66F;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

}

.project-tile {
    margin: 1rem;
}

figcaption {
    text-align: center;
    font-size: x-large;
    color: #2b2b2b;
}

#contact {
    height: 19rem;
    background-color: #027353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}

#contact h1 {
   font-size: 3rem;
   margin: .5rem 0 1rem 0;
   color: #F2F2F2;
}

#contact p {
    font-size: x-large;
    margin: 0 .5rem 1rem 0;
    color: #F2F2F2;
}

#contact div {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-out;
    color: #F2F2F2;
}

#contact div a {
    margin: 2rem;
    font-size: 1.3rem;
}
#contact div a:hover {
    transform: translateY(8px);
}

footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    color: #F2F2F2;
    margin-bottom: -1rem;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#F2F2F2;
    height: 7px;
  }
  
/*MEDIAS*/
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}