html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #cfcfcf;
}

ul {
    list-style: none;
}

#navbar {
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #2d5344;
}

#nav-list {
    display: flex;
    margin-right: 2rem;
}

#nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}