* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }
  body {
    background-color: #3b4cca;
    height: 100%;
  }

  header {
    background-color: #3b4cca;
    text-align: center;
    padding: 2em;
  }

  h1 {
    margin-bottom: .2em;
    color: #ffde00; 
    font-size: 4em;
    padding: .2em;
  }

  button {
    margin: .2em;
    padding: .8em;
    font-size: large;
    background-color: #b3bbff;
    border: solid 2px #0b1141;
    color:  #0b1141;
    cursor: pointer;
    font-weight: 600;
    
  }
  
  .pokeGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #3b4cca;

  }

  h4 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20%;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
  }

  li {
   margin: 1.5em 0;
  }
  
  
  .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: .5rem;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  figcaption {
    font-size: 1.3em;
    background-color:  #fff6b4;
    font-weight: 600;
    color: #0b1141;
  }
  
  .front {
    background: #fcde0f;
    border-color: #fff399;
    text-align: center;
  }
  
  .back {
    background: #d42e18;
    border-color: #f58070;
    transform: rotateY(180deg);
    color: #ffd2cc;
  }

    
  .front, .back {
    border-radius: 10px;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    text-transform: capitalize;
  }

  figure img {
    width: 190px;
  }

  footer {
    text-align: center;
    background-color: #fcde0f;
    
  
  }
  
  footer h3 {
    font-weight: 300; 
    font-size: 1em;
    padding: 1em;
  }
  